<template lang="pug">
  .sidebar
    el-menu(:default-active="this.$route.path" class="el-menu-vertical" :collapse="isCollapse" collapse-transition router)
      el-menu-item(index="/")
        i(class="el-icon-user")
        span(slot="title") 导航一
      el-menu-item(index="/2")
        i(class="el-icon-edit-outline")
        span(slot="title") 导航二
      el-menu-item(index="/3" disabled)
        i(class="el-icon-unlock")
        span(slot="title") 导航三
</template>

<script>
export default {
  data() {
    return {
      title: '',
      isCollapse: false
    }
  },
  mounted() {
    if (this.isMobile()) {
      this.isCollapse = true
    } else {
      this.isCollapse = false
    }
  },
  methods: {
    isMobile() {
      let flag = navigator.userAgent.match(
        /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
      )
      return flag
    }
  }
}
</script>
<style scoped lang="scss">
@import '~@/assets/css/base.scss';
.el-menu-vertical:not(.el-menu--collapse) {
  width: 140px;
  min-height: 400px;
}
.sidebar {
  height: 100%;
  overflow: hidden;
  background: $color-white;
  border-right: 1px solid $border-color-light;
}
</style>
