<template lang='pug'>
  #app
    el-container(v-loading="loading")
      el-header
        eapp-header
      el-container
        el-aside(width="auto")
          eapp-sidebar
        el-main
          .main-content
            router-view
</template>

<script>
import Header from '@/components/Header'
import Sidebar from '@/components/Sidebar'
export default {
  name: 'app',
  data() {
    return {
      loading: false
    }
  },
  components: {
    'eapp-header': Header,
    'eapp-sidebar': Sidebar
  },
  methods: {}
}
</script>
<style lang='scss'>
@import '~@/assets/css/base.scss';
#app {
  height: 100%;
}
.el-header {
  // background: #355c79;
  background: rgb(48, 50, 54);
}
.el-container {
  height: 100%;
}
.el-aside {
  border-right: 1px solid $border-color-light;
  box-shadow: 2px 0 13px 0 rgba(0, 0, 0, 0.05);
}
.el-main {
  height: 100%;
}
.main-content {
  min-width: 568px;
  height: 100%;
}
</style>
